
#nav{
    background-color:black;
    margin-inline-start: auto;
}

.lista{

    font-size: 13px;

}
h1{
    color: rgb(150, 148, 148);
}
#top{
    background-color: rgb(32, 32, 32);
}


.button{
    background-color: rgb(6, 151, 6);
    padding: 16px;
   
    border-radius:16px;
    font-weight: 600;
}

.button:hover{
    background-color: darkgreen;
}

#di{
    width:35%;
    bottom:35px;
    margin-inline:auto;
    


}

/* Ajusta las imágenes dentro de los artículos */
#portfolio .image.featured img {
    width: 100%;
    height: auto; /* Mantiene la proporción original */
    object-fit: cover; /* Ajusta el contenido dentro del contenedor */
     /* Opcional: bordes redondeados */
}






#img{

    width: 381px;
    height:180px;
   
    
}

#tit{
   color: black ;
}

.parrafo{
    margin-top: 40px;
    font-weight: 800;
    font-size: 18px;
}

#contact{
    padding: 40px;
    
    background-color: rgb(17, 17, 17);
}

.icon:hover{
   background-color: green;
}

/* Ajustes generales para pantallas pequeñas */
@media (max-width: 768px) {
    #portfolio .row {
        flex-direction: column; /* Muestra las columnas en una sola línea vertical */
    }
}